html { 
    background: url(../img/bg6.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }
main{
    margin: auto;
    width: 70%;
    background-color: whitesmoke; 
    padding-top: 5%;
    margin-top: 5%;
}

div{
    margin: auto;
    width: 75%;
    background-color: white;
    padding: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
}

h1, h2, .title {
    text-align: center;
}
.about_me p{
    margin-top: 0;
    width: 85%;
    margin: auto;
}
.about_me{
    margin-top: 2%;
}

.title{
    padding: 0;
    margin-top: 0;
    letter-spacing: 0.2em;
}
.projects{
    margin-top: 1%;
}
#name{
    font-weight: 900;
    font-size: 200%;
}
.container1{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5%;
    flex: 1;
    margin-right: 5%;
}
.container2{
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    flex-basis: 40%;
}

h2{
    background-color: black;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 1em;
    padding: 5%;
}
h4{
    font-size: 1em;
}
.clearfix{
    margin-top: 20px;
    background-color: whitesmoke;
}
img{
    padding: 5%;
    padding-bottom: 10%;
}
.fa-quote-right{
    margin-left: 97%;
    display: block;
}
.fa-quote-left, .fa-quote-right{
    color: #7F2638;
    font-size: 1.5em;
}
.fa-mobile{
    font-size: 24px;
}
.circle{
    background-color: #7F2638;
    border-radius: 50%;
    height: 0.01em;
    width: 0.01em;
    float: left;
    margin-right: 1%;
    margin-left: 2%;
}
.empty{
    background-color: rgb(158, 158, 158);
}
.float-left{
    float: left;
    margin-right: 2%;
}
.advanced{
    margin-right: 18%;
}
.familiar{
    margin-right: 11%;
}
.clear{
    clear: both;
}
.bold{
    font-weight: 600;
}
ul{
    list-style-type: disc;
    line-height: 110%;
}
@media only screen and (max-width: 995px) {
    .container1{
        display: block;
    }
    .container2{
        display: block;
    }
    .contact{
        width: 100%;
        padding: 0%;
        font-size: 1em;
    }
}
@media only screen and (max-width: 540px) {
    body{
        font-size: 0.9em;
    }
}